body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

main {
    margin: 100px;
}

header {
    display: flex;
    overflow: auto;
    position: fixed;
    top: 0;
    background: white;
    width: 100%;
    padding-left: -41px;
    padding: 22px;
    align-items: center;
    justify-content: space-around;
}

#logo {
    margin-right: 13rem;
}

nav ul {
    display: flex;
    gap: 50px;
}

.content {
    width: 52%;
}

nav ul li {
    text-decoration: none;
    gap: 10px;
}

nav ul a {
    text-decoration: none;
}

header nav ul a li {
    text-decoration: none;
    list-style: none;
    color: #272727;
    font-size: 16px;
}

header nav ul a li:hover {
    color: #FF0000;
}

.splitSection {
    margin-top: 150px;
    margin-bottom: 40px;
}

.firstSplit p {
    font-size: 56px;
    font-weight: 700;
    color: #1F1D1D;
    margin-top: 0px;
}

.split p {
    font-size: 20px;
    font-weight: 400;
    word-spacing: 0.8px;
    color: #666666;
}

#letsTalk {
    padding: 15px;
    width: 110px;
    background: #F02F30;
    border: 1px solid transparent;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}


.images {
    width: 100%;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    gap: 70px;
}

p.featuredIn {
    letter-spacing: 5px;
    text-align: center;
    margin-left: 3rem;
    margin-bottom: 3rem;
}


.rowImages,
.rowImages2 {
    display: flex;
    gap: 60px;
    width: 50%;
}


#girl,
#boy3 {
    width: 145%;
}

#boy2,
#boy {
    width: 95%;
}

.featured {
    margin-top: 110px;
    margin-bottom: 110px;
}

.images2 {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.paragraphSection {
    display: flex;
    margin-top: 150px;
}

p.boldParagraph {
    font-size: 20px;
    font-weight: 500;
}

p.boldParagraph2 {
    font-size: 25px;
    font-weight: 500;
    margin-top: 30px;
}

#featuredImages {
    width: 13%;
}

.col-md-6 {
    margin-bottom: 20px;
}

.paragraphContent {
    font-size: 50px;
    font-weight: 800;
}


.clientReview2 {
    display: flex;
    gap: 50px;
    border-radius: 5px;
    padding: 30px;
    justify-content: center;
}

.clients h5 {
    font-size: 50px;
    margin-top: 50px;
    width: 50%;
    font-weight: 800px;
}

.clientReview {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.diectionIcons {
    width: 30%;
}

.fa {
    font-size: 40px;
}

p.reviews {
    background-color: whitesmoke;
    padding: 2rem;
    font-size: 20px;
}

.darkDiv {
    text-align: center;
    padding: 15rem;
    background: black;
    color: white;
    border-radius: 5px;
    margin-top: ;
    width: 100%;
}

p.darkDivContent {
    font-size: 20px;
}

p.darkDivHeading {
    font-size: 46px;
    font-weight: 600;
}

#darkDivButton {
    border: 2px solid darkred;
    border-radius: 5px;
    background: transparent;
    color: white;
    font-size: 20px;
}

.lastDiv {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

}

footer {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

a.socials {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 600;
}

.row h6 {
    font-size: 1.5rem;
    font-weight: 600;
}

a.socials:hover {
    color: rgba(0, 0, 0, 0.708);
}

.socialHandles {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 600;
    width: 30%;
    max-width: 100%;
}

.collapsible {
    cursor: pointer;
    padding: 18px;
    float: right;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

@media only screen and (max-width:480px) {
    main {
        margin: 20px;
    }

    .socialHandles {
        width: 50%;
        gap: 1rem;
        margin-top: 5rem;
    }

    nav ul a {
        text-decoration: none;
        color: black;
        font-size: 1.5rem;

    }

    nav ul {
        list-style: none;
        gap: 0px;
    }

    header {
        overflow: auto;
        position: fixed;
        top: 0;
        background: white;
        width: 100%;
        padding: 30px;
        align-items: center;
        justify-content: space-around;
    }

    .fa-bars {
        float: right;
        font-size: 2rem;
    }

    #logo {
        margin: -2rem;
    }

    p.reviews {
        font-size: 10px;
    }

    .darkDiv {
        text-align: center;
        padding: 0rem;
        background: black;
        color: white;
        border-radius: 5px;
        margin-top: ;
    }

    p.darkDivContent {
        font-size: 20px;
    }

    p.darkDivHeading {
        font-size: 46px;
        font-weight: 600;
    }

    .clientReview2 {
        border-radius: 5px;
        width: 90%;
        display: block;
    }

    .secParagraphImages {
        width: 10%;
    }

    .secondParagraph,
    .thirdParagraph {
        background-color: whitesmoke;
        margin-top: 10px;
    }

    .paragraphContent {
        font-size: 10px;
    }

    .firstSplit p {
        font-size: 35px;
        font-weight: 700;
        margin-top: 0px;
    }

    .split p {
        font-size: 15px;
        font-weight: 300;
    }

    #letsTalk {
        padding: 12px;
        width: 100%;
        background: #F02F30;
        border: 1px solid transparent;
        color: white;
        border-radius: 5px;
        cursor: pointer;
    }

    .clientReview h5 {
        font-size: 30px;
        margin-top: 50px;
        font-weight: 800px;
    }

    .images {
        width: 100%;
        display: flex;
        margin-top: 50px;
    }

    .col-md-3 {
        margin-top: 20px;
    }

    .rowImages,
    .rowImages2 {
        display: block;
        gap: 20px;
    }

    #featuredImages {
        width: 20%;
    }

    #girl,
    #boy3 {
        width: 90%;
    }

    .directionIcons {
        display: none;
    }
}
